<!-- Author: Hans Magnus Hallaråker -->
<!DOCTYPE html>
<html>
	<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, user-scalable=no
		initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0" />
	<title>Template</title>

    <!-- cordova.js based -->
	<script src="cordova.js"></script>
    <!-- AnyboardJS libraries -->
	<script src="dist/anyboard.js"></script> 
    <!-- Bluetooth driver and dependencies-->
    <script src="libs/evothings/evothings.js"></script>
    <script src="libs/evothings/easyble/easyble.js"></script>
    <script src="drivers/discovery.evothings.bluetooth.js"></script>
	<script src="drivers/bean.evothings.bluetooth.js"></script>
    <script src="drivers/rfduino.evothings.bluetooth.js"></script>
    
	<!-- We've used jquery for qRuick development -->
    <script src="libs/jquery-1.11.3.min.js"></script>
    <!--Bootstrap library-->
	<script src="bootstrap/js/bootstrap.min.js"></script>
	<link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap.min.css">	
	<script>
		 $(document).ready(function(){

			//Will tell Anyboard to log everything
			AnyBoard.Logger.threshold = 0;
			$("#weHaveConnectedToPawn").hide();
			$("#functions").hide();
			$("#token_solo").hide();
		});			
	</script>

	<script type="text/javascript">
		// variable with tokens
		var app = {
			devices: {},
		    token:{}
		}

		function discoverTokens() {
		    var self = this;
		    $("#availableTokens").toggle();
		    
		    AnyBoard.TokenManager.scan(
		        function(token) {
		        	
		            self.addToken(token);
		        },
		        function(errorCode) {
		            console.log(errorCode)
		        }
		    );
		}
		/* The addToken function will check if the device(parameter) is already added. 
		   If not the device will be added and a button with the option to connect to that token will be displayed.
		   When connected the button will change its color to green. 
		*/
		function addToken(token) {
		    if(!app.devices[token.address]){
		    	
		        app.devices[token.address] = token;
				$("#availableTokens").append('<br> <button type="button" class="btn btn-success" id="' + token.address + '" onclick="connect(' + "'" + token.address + "'" + ')">' + token.name + ' </button><br />');
				
				token.on('connect',function(){
				    document.getElementById(token.address).className = 'green';
			
				    $("#functions").append('<br><div id="test" ><b>'+token + '</b><br>');

		            $("#functions").append('<button type="button" class ="btn btn-primary btn-block" onclick="sendVibrationCmd('+ "'" + token.address + "'" +')" > Vibrate </button><br />');

		            $("#functions").append('<button type="button" class ="btn btn-primary btn-block" onclick="sendCountCmd('+ "'" + token.address + "'" +')" > Count </button><br />');

		            $("#functions").append('<button type="button" class ="btn btn-primary btn-block" onclick="sendDisplayXCmd('+ "'" + token.address + "'" +')"> Display a cross </button><br />');

		            $("#functions").append('<button type="button" class ="btn btn-primary btn-block" onclick="sendDisplayDigitCmd('+ "'" + token.address + "'" +')"> Display random digit 0-9 </button><br />');

		            $("#functions").append('<button type="button" class ="btn btn-primary btn-block" onclick="sendDisplayW('+ "'" + token.address + "'" +')"> Display a W </button><br />');

		            $("#functions").append('<button type="button" class ="btn btn-primary btn-block" onclick="sendDisplayUp('+ "'" + token.address + "'" +')"> Display an arrow up </button><br />');

		            $("#functions").append('<button type="button" class ="btn btn-primary btn-block" onclick="sendDisplayDown('+ "'" + token.address + "'" +')"> Display an arrow down </button><br />');

		            $("#functions").append('<button type="button" class ="btn btn-danger btn-block disc" onclick="disconnect('+ "'" + token.address + "'" +')"> Disconnect token </button><br />');
		           	
		           	$("#functions").append('</div>');
		          	bindFunc(token.address);
		            
				});
		    }
		}
		function bindFunc(tokenAddress) {
			$('.disc').click(function(){
				//$('#'+tokenAddress).remove();
				app.devices[tokenAddress].length = 0;
				
				$(this).parent().empty();
			});
		}

		/*Will connect to a device and run an emulator*/
		function emulator() {
			var self = this;

			evothings.ble.startScan(onDeviceFound,onScanError);

				function onDeviceFound(device){
					
					$("#availableTokens").append("<br> Scan: " +JSON.stringify(device.name) + "<button onclick='con("+device+")'>Device</button>");
					//AnyBoard.Logger('Found device:' + JSON.stringify(device.advertisementData));
				}
				function onScanError(error) {
					alert(error);
					//AnyBoard.Logger("Scan error: " + error);
				}
			setTimeout(function(){evothings.ble.stopScan()},5000);
		}

		function con(device) {
	

		}

		/* The connect function is called when the "Connect to device" button is pressed. 
		    This will trigger the driver.connect (token.connect) found in the "discovery.evothings.bluethooth.js" file.
		    The function "weHaveConnectedToPawn" will be executed when complete.
		*/
		function connect(tokenName) {
		    var token = app.devices[tokenName];

		    // If already connecting, stop
		    if (document.getElementById(tokenName).className == 'blue') {
		        return;
		    }

			// If already connected, attempt to send green led command
		    if (document.getElementById(tokenName).className == 'green') {
		        this.weHaveConnectedToPawn();
		        return;
		    }
		    // Signal that we're attempting to connect
		    document.getElementById(tokenName).className = 'blue';
		    app.token = token;
		    // Send connect command.
		    token.connect(weHaveConnectedToPawn(tokenName));
		   
		}
		//function which disconnects token 
		function disconnect(token) {
		
		    var token = app.devices[token];
		    document.getElementById(token.address).className = 'red';
		    token.disconnect();

		}
		function weHaveConnectedToPawn(tokenName) {
			
			
			$("#weHaveConnectedToPawn").show();
		    $("#availableTokens").hide(); 
			
		    $("#functions").show();
		    $("#token_solo").show();
		}

		/* The sendDisplayDigitCmd function will trigger the token.displayDigit found in the driver rfduino.evothings.bluethooth.js
		   file. This will display the digit on the pawn LED screen.
		*/

		function sendDisplayDigitCmd(tokenName,digit) {
		    var token = app.devices[tokenName];
		    digit = randomNumber(); //template purpose only
		   
		    var completedFunction = function(data){
		            //logging
		            hyper.log("We HAPPY send the displayDigit command");
		           
		        };
		        var errorCallback = function(errorMsg) {
		            //logging
		            hyper.log("Failed to send the displayDigit command");
		            hyper.log(errorMsg);
		        };
		        token.displayDigit([digit], 
		            completedFunction,  // function to be executed when token signals
		            errorCallback  // function to be executed in case of failure to send command to token
		        );
		}
		//Return random number between 0-9
		function randomNumber() {
	    var x = Math.floor((Math.random() * 9) );
	    return x;
	}

		/* The sendDisplayXCmd function will trigger the token.displayX found in the driver rfduino.evothings.bluethooth.js
		   file. This will display an X on the pawn LED screen.
		*/
		function sendDisplayXCmd(tokenName) {
		var token = app.devices[tokenName];

		         // Function to be executed when success
		        var completedFunction = function(data){
		            hyper.log("We happily send the DISPLAY_X command");
		           
		        };

		        // Function to be executed upon failure
		        var errorCallback = function(errorMsg) {
		            hyper.log("Failed to send the DISPLAY_X command");
		            hyper.log(errorMsg);
		        };

		        // Turns on token led.
		        token.displayX([1], // 
		            completedFunction,  // function to be executed when token signals
		            errorCallback  // function to be executed in case of failure to send command to token
		        );
		    }

		/* The sendVibrationCmd function will trigger the token.vibrate found in the driver rfduino.evothings.bluethooth.js
		   file. The value sent is the length of the vibration in ms.
		*/

		function sendVibrationCmd(tokenName) {
		    var token = app.devices[tokenName];
		     // Function to be executed when success
		     var completedFunction = function(data){
		            hyper.log("We happily send the DISPLAY_X command");
		            
		        };

		        // Function to be executed upon failure of LED
		        var errorCallback = function(errorMsg) {
		            hyper.log("Failed to send the DISPLAY_X command");
		            hyper.log(errorMsg);
		        };
		                // Turns on token led.
		        token.vibrate([100], // 
		            completedFunction,  // function to be executed when token signals
		            errorCallback  // function to be executed in case of failure to send command to token
		        );
		}

		/* The sendDisplayW function will trigger the token.displayW found in the driver rfduino.evothings.bluethooth.js
		   file. This will display a W on the pawn LED screen.
		*/
		function sendDisplayW(tokenName) {
		    var token = app.devices[tokenName];
		     // Function to be executed when success
		     var completedFunction = function(data){
		            hyper.log("We happily send the DISPLAY_W command");
		            hyper.log(data)
		        };

		        // Function to be executed upon failure of LED
		        var errorCallback = function(errorMsg) {
		            hyper.log("Failed to send the DISPLAY_W command");
		            hyper.log(errorMsg);
		        };
		                // Turns on token led.
		        token.displayW([1], // 
		            completedFunction,  // function to be executed when token signals
		            errorCallback  // function to be executed in case of failure to send command to token
		        );
		}

		/* The sendDisplayUp function will trigger the token.displayUp found in the driver rfduino.evothings.bluethooth.js
		   file. This will display an arrow pointing up on the pawn LED screen.
		*/
		function sendDisplayUp(tokenName) {
		    var token = app.devices[tokenName];
		     // Function to be executed when success
		     var completedFunction = function(data){
		            hyper.log("We happily send the DISPLAY_UP command");
		            
		        };

		        // Function to be executed upon failure of LED
		        var errorCallback = function(errorMsg) {
		            hyper.log("Failed to send the DISPLAY_UP command");
		            hyper.log(errorMsg);
		        };
		                // Turns on token led.
		        token.displayUp([1], // 
		            completedFunction,  // function to be executed when token signals
		            errorCallback  // function to be executed in case of failure to send command to token
		        );
		}

		/* The sendDisplayDown function will trigger the token.displayDown found in the driver rfduino.evothings.bluethooth.js
		   file. This will display an arrow pointing down on the pawn LED screen.
		*/
		function sendDisplayDown(tokenName) {
		    var token = app.devices[tokenName];

		     // Function to be executed when success
		     var completedFunction = function(data){
		            hyper.log("We happily send the DISPLAY_DOWN command");
		        };

		        // Function to be executed upon failure 
		        var errorCallback = function(errorMsg) {
		            hyper.log("Failed to send the DISPLAY_DOWN command");
		            hyper.log(errorMsg);
		        };
		                
		        token.displayDown([1], //
		            completedFunction,  // function to be executed when token signals
		            errorCallback  // function to be executed in case of failure to send command to token
		        );
		}

		function sendCountCmd(tokenName) {
		    var token = app.devices[tokenName];
		    // Function to be executed when success
		    var completedFunction = function(data){
		        hyper.log("We happily send the COUNT command");
		        hyper.log(data)
		    };

		    // Function to be executed upon failure
		    var errorCallback = function(errorMsg) {
		        hyper.log("Failed to send the COUNT command");
		        hyper.log(errorMsg);
		    };

		    // Turns on token led.
		    token.count([1], 
		        completedFunction,  // function to be executed when token signals
		        errorCallback  // function to be executed in case of failure to send command to token
		    );
		}
		/*THe following functions are mapped to AnyBoard.TokenManager-tokenlistener ...
		* The functions will be handled continously as actions are detected!
		*/
		function handleTokenTap(token) {
		   // This is a single tap
		   document.getElementById("msg").innerHTML = "This is a tap";
		   $("#tap").css("background-color","red");
				setTimeout(function () {
					$("#tap").css("background-color", "#99C2FF");
				}, 500);
		}
		function handleTokenDoubleTap(token) {
		   // This is a double tap
		   document.getElementById("msg").innerHTML = "This is a Double_tap";
			$("#double_tap").css("background-color","red");
				setTimeout(function () {
					$("#double_tap").css("background-color", "#99C2FF");
				}, 500);
	}
		function handleTokenShake(token) {
		  //  This is a shake
		  document.getElementById("msg").innerHTML = "This is a SHAKE";
		  	$("#shake").css("background-color","red");
					setTimeout(function () {
						$("#shake").css("background-color", "#99C2FF");
					}, 500);
		}
		function handleTokenTilt(token) {
		  //  This is a tilt
		  document.getElementById("msg").innerHTML = "This is a TILT";
		  $("#tilt").css("background-color","red");
					setTimeout(function () {
						$("#tilt").css("background-color", "#99C2FF");
					}, 550);
		}

		/* AnyBoard.TokenManager.onTokenMove only detects if there have been an change from one color to another.
		   These settings are manually set in the firmware/driver
		*/
		function handleTokenMove(token, constraint, options) { //Needs an update with color recogniztion to be used efficiently
		    AnyBoard.Logger.log("Moved to tilee " + constraint);
		  //  alert("This is a move");
		  document.getElementById("msg").innerHTML = "This is a MOVE";
		}
		/*The following single-functions will only trigger ONCE*/
		function singleTokenTap(token) {
		     alert("Will only trigger once. TAP");
		}

		function singleTokenDoubleTap(token) {
		     alert("Will only trigger once. DOUBLE_TAP");
		}
		function singleTokenShake(token) {
		     alert("Will only trigger once. SHAKE");
		}
		function singleTokenTilt(token) {
		     alert("Will only trigger once. TILT");
		}
		function singleTokenMove(token,constraint,options) {
		    alert("Will only trigger once. MOVE_TO");
		}

	</script>

	<script type="text/javascript">
		//tokenlistener for continiously detecting TAP,DOUBLE_TAP,SHAKE,TILT and MOVE_TO(movement).
			AnyBoard.TokenManager.onTokenEvent("TAP", handleTokenTap);
			AnyBoard.TokenManager.onTokenEvent("DOUBLE_TAP", handleTokenDoubleTap);
			AnyBoard.TokenManager.onTokenEvent("SHAKE", handleTokenShake);
			AnyBoard.TokenManager.onTokenEvent("TILT", handleTokenTilt);
			AnyBoard.TokenManager.onTokenConstraintEvent("MOVE_TO",handleTokenMove);
		
	    //tokenlistener used to detect TAP,DOUBLE_TAP,SHAKE,TILT and MOVE_TO(movement) ONCE. Only detected/executed once!!!
	    	AnyBoard.TokenManager.onceTokenEvent("TAP", singleTokenTap);
	    	AnyBoard.TokenManager.onceTokenEvent("DOUBLE_TAP", singleTokenDoubleTap);
	    	AnyBoard.TokenManager.onceTokenEvent("SHAKE", singleTokenShake);
	    	AnyBoard.TokenManager.onceTokenEvent("TILT", singleTokenTilt);
	    	AnyBoard.TokenManager.onceTokenConstraintEvent("MOVE_TO",singleTokenMove);
	</script>
		
	
	</head>
	<body>
	<div class="container">
		<h1>AnyBoard Template</h1>
		<br>
		
		<div id="summary" class="col-sm-6 col-xs-12 col-md-8">

			<p>Hello! Discover tokens by pressing the "Discover Tokens" button! 
			</p>
			<div id="options" class="col-sm-6 col-xs-12 col-md-8">
				<button class="btn btn-primary" type="submit" onclick="discoverTokens()">Discover Tokens</button>
			</div>
		    <br>
		    <hr>
		    Available tokens:
		    <div id="availableTokens"></div>
		    <br>
		    <hr>
    	    <div id="weHaveConnectedToPawn">
			    You have connected to a device!
				</br>
				<b>Previously action Detect:</b> 
				</br>
		    	<div id="msg">Nothing</div>
	    	</div>	
	    	<div id="functions">
	    		<h2>Functions on the Anypawn</h2> 
    		</div>
			
	    </div>


	    <div id="menu" class="col-xs-12 col-md-4">
	    <button type="button" class="btn btn-info btn-block" data-toggle="modal" data-target="#myModal">More information</button>
	    <br>
	    <a class="btn btn-success btn-block"  href="Emulator.html" type="submit">Emulator</a>
	    <br>
	    <button type="button" class="btn btn-info btn-block" onclick="emulator()">Scan</button>

	   
		</div>
	    
		 <div id="token_solo" class="col-xs-12 col-md-4">
				<h2> Token Solo Event </h2>
				<div>
					<button id="tap" class="btn btn-lg" style="background-color:#99C2FF;">Tap</button>
					<button id="double_tap" class="btn btn-lg" style="background-color:#99C2FF;">Double T.</button>
					<button id="shake" class="btn btn-lg" style="background-color:#99C2FF;">Shake</button>
					<button id="tilt" class="btn btn-lg" style="background-color:#99C2FF;">Tilt</button>
				</div>
			</div>

	    

	    </br>
    </div>
    <!-- Trigger the modal with a button -->


<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Information</h4>
      </div>
      <div class="modal-body">
        <p>Discover Tokens will trigger the <b>AnyBoard.TokenManager.Scan</b> function which locate nearby bluetooth signals. The devices found is then listed by the <b>addToken</b> function. TO connect to your device, simply press the button which displays the name of your device. </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
	</body>	
</html>
